[include mainsail.cfg]

# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu

[include Trident_M8P_v1.1_config.cfg]
[include rp2040-canbus-v1.cfg]
[include stealthburner_leds.cfg]
[include nevermore.cfg]
[include config_backup.cfg]

[exclude_object]

[bed_mesh]
speed: 250
horizontal_move_z: 4
mesh_min: 15, 15   # Minimalne punkty siatki (lewy dolny róg stołu)
mesh_max: 230, 230 # Maksymalne punkty siatki (prawy górny róg stołu)
probe_count: 5, 5  # Liczba punktów pomiarowych (w osi X, Y)

[input_shaper]
shaper_freq_x: 55.2 # center frequency for the X axis filter
shaper_type_x: mzv # filter type for the X axis
shaper_freq_y: 40.6 # center frequency for the Y axis filter
shaper_type_y: mzv # filter type for the Y axis
damping_ratio_x: 0.068 # damping ratio for the X axis
damping_ratio_y: 0.049 # damping ratio for the Y axis


#####################################################################
#   print_start macro
#####################################################################

## *** THINGS TO UNCOMMENT: ***
## Bed mesh (2 lines at 2 locations)
## Z_TILT_ADJUST if your printer is a Trident
## Quad gantry level if your printer is a V2
## Nevermore - if you have one

[gcode_macro PRINT_START]
variable_parameter_EXTRUDER_TEMP: 190
variable_parameter_BED_TEMP: 60
; gcode parameters for area bed mesh
variable_parameter_AREA_START : 0,0
variable_parameter_AREA_END : 0,0

gcode:
  # This part fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("40")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  # Homes the printer, sets absolute positioning and updates the Stealthburner leds.
  STATUS_HOMING         # Sets SB-leds to homing-mode
  G28                   # Full home (XYZ)
  G90                   # Absolut position

  ##  Uncomment for bed mesh (1 of 2)
  # BED_MESH_CLEAR       # Clears old saved bed mesh (if any)

  # Checks if the bed temp is higher than 90c - if so then trigger a heatsoak.
  # {% if params.BED|int > 90 %}
  #  SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
  #  STATUS_HEATING                                      # Sets SB-leds to heating-mode
  #  M106 S255                                           # Turns on the PT-fan

    ##  Uncomment if you have a Nevermore.
    # SET_PIN PIN=nevermore VALUE=1                      # Turns on the nevermore

    # G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    # M190 S{target_bed}                                  # Sets the target temp for the bed
    # SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Displays info
    # TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}   # Waits for chamber to reach desired temp

  # If the bed temp is not over 90c, then it skips the heatsoak and just heats up to set temp with a 5min soak
  # {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
    STATUS_HEATING                                      # Sets SB-leds to heating-mode
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    M190 S{target_bed}                                  # Sets the target temp for the bed
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Soak for 5min"                # Displays info
    SET_FAN_SPEED FAN=Nevermore SPEED=0.85               # Turn on nevermore fan
    G4 P300000                                          # Waits 5 min for the bedtemp to stabilize (30000)
  {% endif %}

  # Heating nozzle to 150 degrees. This helps with getting a correct Z-home
  SET_DISPLAY_TEXT MSG="Hotend: 150c"          # Displays info
  M109 S150                                    # Heats the nozzle to 150c

  ##  Uncomment for Trident (Z_TILT_ADJUST)
  SET_DISPLAY_TEXT MSG="Z-tilt adjust"     # Displays info
  STATUS_LEVELING                          # Sets SB-leds to leveling-mode
  Z_TILT_ADJUST                            # Levels the buildplate via z_tilt_adjust
  G28 Z                                    # Homes Z again after z_tilt_adjust

  ##  Uncomment for V2 (Quad gantry level AKA QGL)
  #SET_DISPLAY_TEXT MSG="QGL"      # Displays info
  #STATUS_LEVELING                 # Sets SB-leds to leveling-mode
  #quad_gantry_level               # Levels the buildplate via QGL
  #G28 Z                           # Homes Z again after QGL

  ##  Uncomment for Klicky auto-z
  #CALIBRATE_Z                                 # Calibrates Z-offset with klicky
  #SET_DISPLAY_TEXT MSG="Z-offset"             # Displays info

  ##  Uncomment for bed mesh (2 of 2)
  SET_DISPLAY_TEXT MSG="Bed mesh"    # Displays info
  STATUS_MESHING                     # Sets SB-leds to bed mesh-mode
  BED_MESH_CALIBRATE ADAPTIVE=1

  # Heats up the nozzle up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"             # Displays info
  STATUS_HEATING                                                # Sets SB-leds to heating-mode
  G1 X{x_wait} Y{y_wait} Z15 F9000                              # Goes to center of the bed
  M107                                                          # Turns off partcooling fan
  M109 S{target_extruder}                                       # Heats the nozzle to printing temp

  # Gets ready to print by doing a purge line and updating the SB-leds
  SET_DISPLAY_TEXT MSG="Printer goes brr"          # Displays info
  STATUS_PRINTING                                  # Sets SB-leds to printing-mode
  G0 X{x_wait - 50} Y4 F10000                      # Moves to starting point
  G0 Z0.4                                          # Raises Z to 0.4
  G91                                              # Incremental positioning 
  G1 X100 E20 F1000                                # Purge line
  G90                                              # Absolut position

  # Set z_offset adjust concern





#####################################################################
#   print_end macro
#####################################################################


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

  {% if params.BED|int > 90 %}
    SET_FAN_SPEED FAN=Nevermore SPEED=0.85
    UPDATE_DELAYED_GCODE ID=filter_off DURATION=600
  {% endif %}

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR

    
    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 77.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 39.6

#####################################################################
#   filament_unload macro
#####################################################################

# [gcode_macro unload_filament]

# gcode:
#   {% set x_wait = 125 %}
#   {% set y_wait = 50 %}
#   {% set z_wait = 40 %}
#   {% set target_extruder = 230 %}

#   G28                                       # Full home (XYZ)
#   G1 X{x_wait} Y{y_wait} Z{z_wait} F9000    # Goes to comfort position
#   M109 S{target_extruder}                   # Heats the nozzle to retracting temp
#   G1 E-40.0 F300                            # Retract filament 40mm
#   G1 E-40.0 F300                            # Second retract filament 40mm
#   G1 E-40.0 F300                            # Third retract filament 40mm
#   TURN_OFF_HEATERS



#####################################################################
#   filament_load macro
#####################################################################
  
# [gcode_macro load_filament]

# gcode:
#   {% set x_wait = 125 %}
#   {% set y_wait = 50 %}
#   {% set z_wait = 40 %}
#   {% set target_extruder = 230 %}


  
  


[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
# timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.089375, 0.075625, 0.049375, 0.071250, 0.118750
#*# 	  0.087500, 0.075625, 0.072500, 0.107500, 0.153750
#*# 	  0.071875, 0.068125, 0.071250, 0.142500, 0.185000
#*# 	  0.067500, 0.086875, 0.099375, 0.150000, 0.205625
#*# 	  0.088125, 0.098750, 0.115000, 0.163750, 0.200000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 230.0
#*# min_y = 20.0
#*# max_y = 230.0
